/*********************************General*********************************/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{ 
  overflow: hidden;
  height: 100vh;
  background: #34495e;
}



/** navbar**/

.navbar li{
  margin-left: 1em;
  margin-right: 1em;
}

.navbar li a{
  color: white !important;
}

.navbar{
  background: #2b3341 !important;
}

#homeLogo{
  width: 3em;
  cursor: pointer;
}


/** homepage **/

#page{
  position: relative;  
}

#homePage{
  position: relative; 
  top: 150px;
}

#homePage button{
  height: 3em;
}

#logo{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#titleHomePage{
  color : white !important;
}



#page span{
 z-index: -1;
  position: absolute;
  
  pointer-events: none;
  background: #ffff;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%{
    transform: scale(0) translateY(0) rotate(0deg);
    opacity: 0;
  }

  10%{
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    transform: scale(1) translateY(500%) rotate(360deg);
    opacity: 0;
  }
  
}


/** LoginPage**/


.box{
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}


.box h1{ 
  color: white; 
  text-transform: uppercase; 
  font-weight: 500; 
}
  
.box input[type = "text"], .box input[type = "password"] { border:0; 
background: none; 
display: block; 
margin: 20px auto;
text-align: center;
border: 2px solid #3498db;
padding: 14px 10px; 
width: 200px; 
outline: none; 
color: white; 
border-radius: 24px; 
transition: 0.15s;
}

.box input[type = "text"]:focus, .box input[type = "password"]:focus { 
  width: 280px;
  border-color: #2ecc71;

}

.box input[type = "submit"]
 { border:0; 
  background: none; 
  display: block; 
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px; 
  width: 200px; 
  outline: none; 
  color: white; 
  border-radius: 24px; 
  transition: 0.25s;
  cursor: pointer;
  }

  .box input[type = "submit"]:hover{
    background:#2ecc71;
  }

  
  /***** ScreenGame *****/

  #screenGame{
    margin-top: 5%;
	margin-left: 2%;
  margin-right: 2%;
  background-color: #2ecc71;
	position: relative;
  }

  #headerGame{
 margin: 10px;
  }

  #timer, #currentWord{
    border-radius: 25px;
    background: #73AD21;
    padding: 10px;
    height: 100px;
  }

  
  #midGame{
    margin:10px;
  }
  
  #usersGame{
    border-radius: 25px;
    background: #73AD21;
    padding: 10px;
    height: 100px;  

  }
  
#bottomGame{
    height: 500px ;
    margin-left: 10px;
    margin-right: 10px;
    
  }

  #settingGame, #drawGame, #chatGame{
    
    border-radius: 25px;
    background: #73AD21;
    padding: 10px;
    text-align: center;

  }

  /** chat **/
  .wrapper{
    text-align: center;
	  position: relative;
    margin-top: 400px;
  }

  .message-container{
    padding: 10px;
	  max-height: 100px;
	  overflow-y: scroll;
  }






